body {
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#main-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
}

#main-container #left-container {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#main-container #left-container .logo {
  cursor: pointer;
}

#main-container #left-container #main-logo {
  height: 100px;
  margin: 40px 0px 0px 75px;
}

#main-container #left-container #description {
  font-family: sans-serif;
  color: black;
  margin-left: 80px;
}

#main-container #left-container #btn-container {
  margin: 65px 0px 0px 75px;
}

#main-container #left-container #btn-container .button {
  margin-right: 10px;
  cursor: pointer;
  height: 40px;
  background: none;
  font-size: 15px;
  min-width: 100px;
  border: 1px solid black;
  border-radius: 4px;
}

#main-container #left-container #btn-container .button:hover {
  background-color: black;
  color: white;
}

#main-container #left-container #kssbro-logo {
  margin: 150px 0px 0px 75px;
  height: 25px;
}

#main-container #right-container {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#main-container #right-container #screenshot {
  height: 400px;
  width: 548px;
  margin: 120px 0px 0px 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  body {
    overflow-y: scroll;
  }

  #main-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  #main-container #left-container {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  #main-container #right-container {
    display: none;
  }

  #main-container #left-container #main-logo {
    height: 75px;
    margin: 50px 0px 0px 0px;
  }

  #main-container #left-container #description {
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
  }

  #main-container #left-container #btn-container {
    position: relative;
    margin: auto;
    top: 20px;
    width: 250px;
  }

  #main-container #left-container #btn-container .button {
    margin: 5px;
    height: 40px;
    background: none;
    font-size: 16px;
    color: black;
    width: 150px;
    border: 1px solid black;
    border-radius: 4px;
  }

  #main-container #left-container #kssbro-logo {
    margin: 80px 0px 0px 0px;
    height: 25px;
  }
}

@media only screen and (max-width: 600px) {
  #main-container {
    display: flex;
    flex-direction: column;
  }

  #main-container #left-container {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  #main-container #right-container {
    display: none;
  }

  #main-container #left-container #main-logo {
    margin: 50px 0px 0px 0px;
  }

  #main-container #left-container #description {
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
  }

  #main-container #left-container #btn-container {
    position: relative;
    margin: auto;
    top: 20px;
    width: 250px;
  }

  #main-container #left-container #btn-container .button {
    margin: 5px;
    height: 40px;
    background: none;
    font-size: 16px;
    color: black;
    width: 150px;
    border: 1px solid black;
    border-radius: 4px;
  }

  #main-container #left-container #kssbro-logo {
    margin: 80px 0px 0px 0px;
    height: 25px;
  }
}
